<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "avtolab"
    version   = "1.0.0">

<name>Жердеш</name>

<description>

</description>

<author href="https://jerdesh.ru" email="jerdesh.ru@mail.ru">
ZAMIR J.T.
</author>
<icon src="icon.png" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="ldpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="mdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="hdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="xhdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
<access origin="http://jerdesh.ru" subdomains="true" />
</widget>
